#loading.page-section(style='display:none')
  .loading-container
    img.bike(src="image/loading-bike.png")
    .logo-view
      .dark.progress-icon
      .light.progress-icon
    img.text-img(src="image/loading-text.png")
    .loading-percent 0