.module-city-3-summary-info.module-summary-info.ng-scope.standard
  .container.max-height
    .row
      .col-md-4.col-sm-12.col-xs-12.slide
        .title Quicker
        .body
          .big 4.2
          .small
            | Seconds
            br
            | From
            br
            | 0-50
            sup KM/H
        .description
          | Always first off the line. 
          span.break-sm.break-xs Instant torque delivers full power in a heartbeat.
      .col-md-4.col-sm-12.col-xs-12.slide
        .title Faster
        .body
          .big 95
          .small
            | KM/H
            br
            | Max
            br
            | Speed
        .description
          | So fast, you’ll never be left behind. 
          span.break-sm.break-xs Fly through the city with effortless speed and control.
      .col-md-4.col-sm-12.col-xs-12.slide
        .title Cleaner
        .body
          .big 0
          .small
            | No
            br
            | Harmful
            br
            | Emissions
        .description
          | Pure performance, pollution-free. 
          span.break-sm.break-xs Having fun has never been better for the planet.