.module-city-6
  .container
    .vertical-center-container
      .row.content-overlay.vertical-center
        .text-center
          h2 
            | 百年匠心 驭见未来
          p pure italian style,since 1911.
  .imgix-fluid.imgix-fluid-bg.background-image(style='background-image: url(image/city-6-bg.jpg);')
