.module-city-5
  .container
    .vertical-center-container
      .row.content-overlay.vertical-center
        .col-md-5.text-center
          h2 
            | The New 
            span.break Standard of 
            span.break Performance
          p Imported pure manual hard leather cushion & the sets South Korea imported samsung lithium battery Brand custom piano lacquer that bake Aviation industrial-grade aluminium alloy frame
  .imgix-fluid.imgix-fluid-bg.background-image(data-src='#{section5BG}', style='background-image: url(#{section5BG});')
