mixin pod(year)
  .pod.row
    .col-md-4
      img(src="image/city-8-pod.jpg")
    .col-md-8
      h3
        | #{year}
      p
        | IN JANUARY 2014, AFTER A CAREFUL AGAIN AND AGAIN, LIKE SEVERAL ROUNDS OF CONSULTATIONS, BOEHNER, LITHIUM ELECTRIC BICYCLES IN MAINLAND CHINA SALES LICENSE FINALLY GOT ITALIAN BENELLI Q.J.S RL COMPANY DULY AUTHORIZED. IN APRIL 2014, BOEHNER, LITHIUM ELECTRIC BICYCLE DAY CAT OPENED FLAGSHIP STORE.

.module_city_8
  .container
    .row.max-height
      .col-lg-8.col-lg-offset-2
        i.fa.fa-chevron-left.visible-md-inline-block.visible-lg-inline-block
        i.fa.fa-chevron-right.visible-md-inline-block.visible-lg-inline-block
        .time-line
          +pod("1969")
          +pod("1971")
          +pod("1980")
          +pod("1995")
          +pod("2005")
          +pod("2009")
          +pod("2012")
          +pod("2014")
  .time-line-wrapper.visible-md-block.visible-lg-block
    .time-line-bg
    .year-line
      span.year.active(id="year-1969") 1969
      span.year(id="year-1971") 1971
      span.year(id="year-1980") 1980
      span.year(id="year-1995") 1995
      span.year(id="year-2005") 2005
      span.year(id="year-2009") 2009
      span.year(id="year-2012") 2012
      span.year(id="year-2014") 2014
