

.module-city-2-clean-video.ng-scope.standard(ng-controller='moduleFaster2CleanVideoController')
  a.btn.btn-translucent.launch-video-modal(href='#', data-video-src='http://player.youku.com/embed/XMTMwMDYzNzkyNA==', data-video-id='faster-clean-video') Watch Full Video
  img.fallback(src='#{videoBGFallBback}')
  img.standard(src='#{videoBG}')
  .video_hero
    .container
      .vertical-center-flex
        h2
          span.break
            | PURE
            br
            | ITALIAN STYLE
            br
            |  SINCE 1911
        a.heroPlayBtn.launch-video-modal(href='#', data-video-src='http://player.youku.com/embed/XMTMwMDYzNzkyNA==', data-video-id='faster-clean-video')
          .vertical-center-flex
            .playBtnContainer
              .playBtnLayer
                div
                  | PLAY
                  br
                  | VIDEO
                div
                  i.glyphicon.glyphicon-menu-right



//- .video-modal
//-   a.close-video-modal(href='#')
//-     i.fa.fa-times
//-   .container
//-     .row.vertical-center-simple
//-       .col-sm-10.col-sm-offset-1.video-container.embed-responsive.embed-responsive-16by9
//-         iframe#faster-clean-video.embed-responsive-item(src='//www.youtube.com/embed/2DG8h8fs8Jw?enablejsapi=1&autoplay=1&rel=0&vq=hd720', allowfullscreen='', frameborder='0', width='972', height='547')

