
.module-city-4-performance-hero.module-image-hero.ng-scope.standard(style='margin-bottom: 0px;')
  .container
    .vertical-center-container
      .row.content-overlay.vertical-center
        .col-md-12.text-center
          h3
            | #{section4Text1}
            span.break #{section4Text2}
  .imgix-fluid.imgix-fluid-bg.background-image(data-src='#{section4BG}', style='background-image: url(#{section4BG});')
