.module_city_9
  .container
    .row.animated-9
      .col-md-5.col-md-offset-1.col-xs-12.left
        h3
          | Our Design Ethos:
        h2
          | Start From Scratch
        .cusomter
          a(href="#")
            | BCB 私人定制
      .col-md-5.col-xs-12.right
        p
          | Every part is a first of its kind. Piece by piece, we designed it all from scratch. We believe to reinvent an entire industry everything has to be reimagined.
