.press-detail-content
  .container
    .row.animate-1
      .col-md-2.left-nav
        a.news.active NEWS
        a.image-gallery Image Gallery
      .col-md-10
        .news-content
          .date 中国|2014年6月10日
          .title 2014年度中国摩托车十大车型——贝纳利蓝宝龙BJ300GS
          p 蓝宝龙BJ300GS可谓是2014年度中国车坛惊世骇俗之作，是贝纳利品牌既黄龙600四缸车型之后的又一款极具竞争力的中排量街车。倒置减震、浮动碟刹盘、双梁车架、后平叉、摇臂等大排部件一应俱全，于细节透露出贝纳利品牌一脉相承的技术开发水准和理念，这也蓝宝龙BJ300GS拥有了“年度车型”美誉的原因之一。而其采用的双缸4冲程8气门水冷300mL发动机，最大功率为26kW（12000r/min），最大扭矩为27N·m（9000r/min），强劲动力更无需多言。
          .image-show
            img(src="image/news-1.jpg")
            span.image-title 2013山东好运荣成首度亮相
          p  与强劲动力形成鲜明对比的则是蓝宝龙BJ300GS内销版的亲民价格，因此还被国内车迷公认为是目前同等价位中功率最大、极速最快、性价比最高的街车。在造型、动力、性价比上优势明显的蓝宝龙BJ300GS，充分展现出了自身定位年轻市场的活力、激情与光芒，而其澎湃的动力、轻巧的操控、收放自如的表现将在2015年俘获更多年轻消费者的心。  
        .actions
          .row
            .col-md-8
              a.lnk-back(href="press.html") 返回列表
              a.lnk-prev(href="press_detail.html?newId=prev")
                i.fa.fa-chevron-left
              a.lnk-next(href="press_detail.html?newId=next")
                i.fa.fa-chevron-right
              a.next-news(href="press_detail.html?newId=111")
                | 下一条新闻：2014年度中国摩托车十大车型——贝纳...
            .col-md-4.social-icons
              a.icon-share.tmall-icon
              a.icon-share.weibo-icon
              a.icon-share.tt-icon
              a.icon-share.qq-icon
              a.icon-share.wechat-icon