#footer-sitemap
  .container
    .row
      .links-wrap.col-xs-12
        a(href='about_us.html') About us
      .links-wrap.col-xs-12
        a(href='products.html') Products
      .links-wrap.col-xs-12
        a(href='press.html') Press
      .links-wrap.col-xs-12
        a(href='contact_us.html') Contact us
      .links-wrap.last.col-xs-12
        #dropdown--i18n.wrapper-dropdown.dropdown--lrsm
          .dropdown-header
            span.choice Language
            i.fa.fa-chevron-down.icon-arrow-down
          ul.dropdown
            li
              a(href='/tw')
                span.xingothic-w8 台灣 (繁中)
            li
              a(href='/smartscooter/faster')
                span.graphik-semibold Global
            li
              a(href='/tw/en')
                span.graphik-semibold Taiwan (EN)
        // wrapper-dropdown


footer#main-footer
  .container
    .row.animated-footer  
      .col-md-12.action
        a#keetmeinformed(href="#")
          | KEEP ME INFORMED
    .row
      .col-md-8.col-md-offset-2
        .disclaimer
          p This web site of the image, data and specifications provided such information is for reference only.Bennelli keep always change bennelli wisdom of variable speed, and other products design and specification of rights.Bennelli also reserves the models and the product sale record the right to change or not and its contents.Any mentioned in this web site data, test results of effective or riding distance, etc., may because of other factors (including but not limited to: personal use habits, knights riding behavior, or people and weight, roads, road speed limit, weather conditions, and the size of the wind speed, etc.) caused by the effect of different results.
        .logo
          img(src="image/foot-logo.png")
        .copy-right
          p Copyright © 1911-2015 benelli Inc. All rights reserved. Design:XianXiang
          p 浙ICP备10043666号