.vertical-center-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.close-video-modal {
  border-bottom: none;
  position: absolute;
  top: 21px;
  right: 30px;
  i{
    font-size: 32px;
    color: #c1c1c3;
  }
}

.vertical-center-simple {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.playBtnContainer {
  margin-top: 10px;
  width: 100%;
  height: 52px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.embed-responsive{
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}

.module-city-2-clean-video{

  position: relative;
  background: #000;
  text-align: center;
  .btn-translucent{
    display: none;
    position: absolute;
    width: 270px;
    bottom: 15%;
    left: 50%;
    margin-left: -135px;
    color: #323237;
    background-color: #fff;
    opacity: .6;
    transition: opacity 250ms ease;
    @include max767 {
      &{
        display: block;
      }
    }
    &:hover{
      opacity: .9;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .fallback {
    display: none;
  }
  .video_hero{
    .container{
      height: 100%;
      width: 100%;
      text-align: center;
      position: absolute;
      z-index: 820;
      top: 0;
      //background: url(//images.gogoroapp.com/module-faster-2-square-demo_20150329.jpg) #000 no-repeat;
      background-size: contain;
      background-position: center center;
    }
    @include max767 {
      &{
        display: none;
      }
    }
    h2{
      padding: 13px 0;
      color: #fff!important;
      font-size: 45px;
      line-height: 42px;
      font-weight: bold;
      text-align: left;
      position: absolute;
      top: 50%;
      left: 35%;
      width: 355px;
      height: 90px;
      margin-top: -70px!important;
      margin-left: -220px;
      font-family: 'flama-condensed-bold',sans-serif;
    }
    .heroPlayBtn{
      width: 120px;
      height: 120px;
      border: 2px solid #fff;
      border-radius: 60px;

      .playBtnLayer {
        letter-spacing: 2px;
        transition: all .5s;
        width: 164px;
        position: absolute;

        div{
          float: left;
          height: 52px;
          line-height: 52px;
          font-size: 52px;
          font-weight: bold;
          transition:1s;
          &:first-child{
            width: 112px;
            opacity: 1;
            height: 48px;
            padding-top: 4px;
            line-height: 20px;
            font-size: 18px;
            font-weight: bold;
            font-family: "graphik-black-italic","HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
          }
          &:last-child{
            width: 52px;
            opacity: 0;

          }
        }
      }

      &:hover{
        .playBtnLayer{
          left: -80px;
          color: #fff;

          div{
            &:first-child{
              opacity: 0;
            }
            &:last-child{
              opacity: 1;
            }
          }
        }
      }
    }
    a{
      margin: auto;
      color: #fff;
      font-style: italic;
    }
  }

  @include max767 {
    .standard{
      display: none;
    }
    .fallback{
      display: block;
    }
  }
}

/* video modal */

.video-modal{
  display: none;
  z-index: 20000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0,0,0,.95);

  .container {
    height: 100%;
  }
}